.singleCard {
  width: auto;
  height: auto;
  font-size: 0.9rem;
  line-height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
 
  border-radius: 0.5rem;
  background-color: #CB9173
}

.smallp {
  font-size: 0.65rem;
  line-height: 0.3rem;
}



ul {
  width: 100%;
  list-style-type: none;
  padding: 0;
  background-color: #EFF2C0;
  border-bottom: 1px solid #ddd;
  text-align: center;
  text-decoration: none;
  color: #217074;
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  
}

ul:hover {
  background-color: #CB9173;
  color: white;
}

ul li {
  display: inline-block;
  margin: 0 10px;
}

.header {
display: flex;
align-items: center;
justify-content: center;
background-color: #CB9173;
color:172815;

}