:root {
  --primary-bg-color: #CB9173;
  --secondary-bg-color: #EFF2C0;
  --link-color: #217074;
  --link-hover-bg-color: #CB9173;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--link-color);
}

.singleCard,
.allArticles,
.commentCard,
.topicCard {
  width: auto;
  height: auto;
  font-size: 0.9rem;
  line-height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary-bg-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.allArticles {
  width: 40rem;
  height: 15rem;
  border: 0.1rem solid;
  border-color: #BD724C;
  margin-bottom: 20px;
}

.smallp {
  font-size: 0.65rem;
  line-height: 0.3rem;
}

.navBar {
  width: auto;
  list-style-type: none;
  padding: 0;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid #ddd;
  text-align: center;
  text-decoration: none;
  color: var(--link-color);
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.navBar:hover {
  background-color: var(--link-hover-bg-color);
  color: white;
}

ul li {
  display: inline-block;
  margin: 0 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  color: #172815;
  border-radius: 3px;
}

.commentBody {
  font-size: 0.8rem;
}

.commentCard {
  background-color: var(--secondary-bg-color);
}

.commentCard {
  background-color: var(--secondary-bg-color);
  text-align: center;
  text-decoration: none;
  color: var(--link-color);
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid var(--link-color);
}

button {
  background-color: #172815;
  color: #EFF2C0;
  border: none;
  border-radius: 10px;
  margin: 3px;
  padding: 6px 12px;
  min-height: 30px;
  min-width: 70px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

button:hover {
  background-color: var(--link-hover-bg-color);
  transform: scale(1.05);
}

:root {
  --primary-bg-color: #CB9173;
  --secondary-bg-color: #EFF2C0;
  --link-color: #217074;
  --link-hover-bg-color: #CB9173;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  color: var(--link-color);
}

.singleCard,
.allArticles,
.commentCard,
.topicCard {
  width: auto;
  height: auto;
  font-size: 0.9rem;
  line-height: 1.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem;
  border-radius: 0.5rem;
  background-color: var(--primary-bg-color);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.allArticles {
  width: 40rem;
  height: 15rem;
  border: 0.1rem solid;
  border-color: #BD724C;
  margin-bottom: 20px;
}

.smallp {
  font-size: 0.65rem;
  line-height: 0.3rem;
}

.navBar {
  width: auto;
  list-style-type: none;
  padding: 0;
  background-color: var(--secondary-bg-color);
  border-bottom: 1px solid #ddd;
  text-align: center;
  text-decoration: none;
  color: var(--link-color);
  padding: 5px 10px;
  border-radius: 3px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.navBar:hover {
  background-color: var(--link-hover-bg-color);
  color: white;
}

ul li {
  display: inline-block;
  margin: 0 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bg-color);
  color: #172815;
  border-radius: 3px;
}

.commentBody {
  font-size: 0.8rem;
}

.commentCard {
  background-color: var(--secondary-bg-color);
}

.commentCard {
  background-color: var(--secondary-bg-color);
  text-align: center;
  text-decoration: none;
  color: var(--link-color);
  border-radius: 3px;
  padding: 5px 10px;
  border: 1px solid var(--link-color);
}

button {
  background-color: #172815;
  color: #EFF2C0;
  border: none;
  border-radius: 10px;
  margin: 3px;
  padding: 6px 12px;
  min-height: 30px;
  min-width: 70px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  cursor: pointer;
}

button:hover {
  background-color: var(--link-hover-bg-color);
  transform: scale(1.05);
}


.topicCard {
  width: 50rem;
  height:8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  margin: 0.5rem;
}

.topicsContainer {
  display: flex;
  flex-direction: column; 
  align-items: center;
  justify-content: center;

}
